@*<%@ Page Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="Festivals.aspx.cs" Inherits="Festivals"  CodeFileBaseClass="BasePage"
           Title = "BUFFALO FESTIVALS "     
        
        Meta_Keywords="BUFFALO FESTIVALS ART MUSIC FUN GAMES ITALIAN, GREEK, GERMAN, IRISH, POLISH, AFRICAN AMERICAN, JEWISH, HEBREW"

        Meta_Description = "Buffalo FESTIVALS OUTDOOR FUN BOOTHS GAMES BEER PARTY COME ENJOY A GOOD TIME IN BUFFALO WITH
        ALL OF OUR FESTIVALS WE HAVE"
 %>*@
@*<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">*@
    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml">
    @*<head>
        <title>
            BUFFALO MUSIC
        </title>
        <meta name="keywords" content="MUSIC EVENTS AND FESTIVALS Tourism, New York, airport, bills, sabres,Canada, Fun,entertainment, events " />
        <meta name="description" content="Buffalo NY, goo goo dolls, Goo Goo Dolls, sports,Hotel, New York, Goo Goo Dolls, Hotel dining, Tourism,Buffalo, RICK JAMES, ANI DEFRANCO, GOOS, BILLY SHEEHAN, BUFFALO MUSIC AND CANADIAN MUSIC" />
    </head>*@
    <body>
        <table style="width: 856px">
            <tr>
                <td style="width: 150px"></td>
                <td style="width: 172px"></td>
                <td style="width: 143px"></td>
                <td></td>
            </tr>
            
            <tr>
                <td align="center" style="width: 144px; height: 120px" valign="middle"></td>
                @* WHITESPACE HERE*@
            </tr>

            
            
            <tr>
                <td colspan="3">
                    <h1>

                        <b>FESTIVALS !!!&nbsp;</b>
                    </h1>
                </td>
                <td colspan="1"></td>
            </tr>
            <tr>
                <td style="width: 150px"></td>
                <td style="width: 172px"></td>
                <td style="width: 143px"></td>
                <td></td>
            </tr>
            <tr>
                <td colspan="3">
                    <p>
                        <font size="4">
                            <b>
                                Summer time in Buffalo is a great time to get out there and enjoy
                                the city on the lake. There are many festivals showcasing our cuisine, our customs
                                and our friendly people. Come out and enjoy.
                            </b>
                        </font>
                    </p>
                </td>
                <td colspan="1"></td>
            </tr>
            <tr>
                <td style="width: 150px"></td>
                <td style="width: 172px"></td>
                <td style="width: 143px"></td>
                <td></td>
            </tr>
            <tr>
                <td style="height: 21px" colspan="3" align="center">
                    <a href="http://www.buffaloitalianfestival.com/">
                        <strong>
                            <span style="font-size: 18pt">
                                Italian festival
                            </span>
                        </strong>
                    </a><strong><span style="font-size: 18pt">&nbsp;</span></strong>
                </td>
                <td colspan="1" style="height: 21px" align="center"></td>
            </tr>
            <tr>
                <td style="width: 150px; height: 9px;"></td>
                <td style="width: 172px; height: 9px;"></td>
                <td style="width: 143px; height: 9px;"></td>
                <td style="height: 9px"></td>
            </tr>
            <tr>
                <td style="width: 150px; height: 421px">
                    <img alt="image" height="200" src="@Url.Content("~/Content/Images/ItalyFlag.jpg")" />
                </td>
                <td style="width: 172px; height: 421px">
                    <img alt="image" height="200" src="@Url.Content("~/Content/Images/italianFestPic.jpg")" />
                    <img alt="image" height="200" src="@Url.Content("~/Content/Images/sausagesandwich.jpg")" />
                </td>
                <td style="width: 143px; height: 421px">
                    <img alt="image" height="200" src="@Url.Content("~/Content/Images/pizzaItalianFest.jpg")" />
                </td>
                <td style="height: 421px"></td>
            </tr>
            <tr>
                <td style="width: 150px; height: 25px;"></td>
                <td style="width: 172px; height: 25px;"></td>
                <td style="width: 143px; height: 25px;"></td>
                <td style="height: 25px"></td>
            </tr>
            <tr>
                <td style="height: 21px" colspan="3">
                    <p>
                        <b>
                            <font size="3">
                                Like many big cities, Buffalo, New York, has
                                a large Italian American population. Here in Buffalo our festival is held on Hertel
                                Avenue, a predominant Italian American area. Hertel has many shops and Italian restaurants
                                and is the perfect setting for this Ethnic festival. We have all the trimmings from
                                Italian sausage and cannoli to Calamari and Tripe. Italian music and Entertainment
                                into the wee hours of the morning. Hey Italians like myself, say mangia! a bit of
                                old Italy in Buffalo.
                            </font>
                        </b>
                    </p>
                </td>
                <td style="height: 21px"></td>
            </tr>
            <tr>
                <td style="width: 150px; height: 45px;"></td>
                <td style="width: 172px; height: 45px;"></td>
                <td style="width: 143px; height: 45px;"></td>
                <td style="height: 45px"></td>
            </tr>
        </table>
        <table style="width: 855px">
            <tr>
                <td style="width: 327px; height: 28px"></td>
                <td style="height: 28px">
                    <a href="http://tasteofbuffalo.com">
                        <strong>
                            <span style="font-size: 18pt">
                                Taste of Buffalo
                            </span>
                        </strong>
                    </a><strong><span style="font-size: 18pt">&nbsp;</span></strong>
                </td>
                <td style="height: 28px"></td>
            </tr>
            <tr>
                <td style="width: 327px"></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td style="width: 327px">
                    <img alt="image" height="200" src="@Url.Content("~/Content/Images/BeefOnWeck.jpg")" />
                </td>
                <td>
                    <img alt="image" height="200" src="@Url.Content("~/Content/Images/buffalo-taste-of.jpg")" />
                </td>
                <td>
                    <img alt="image" height="200" src="@Url.Content("~/Content/Images/wings.bmp")" />
                </td>
            </tr>
        </table>
        <table style="width: 853px">
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td align="center" style="width: 144px; height: 30px" valign="middle"></td>
                @* WHITESPACE HERE*@
            </tr>
            <tr></tr>
            <tr>
                <td colspan="3">
                    <p>
                        <b>
                            <font size="3">
                                In a Northern Town, winters can be a bit longer, and to keep that
                                body warm, we keep the furnace stoked with lots of hot and tasty dishes. More than
                                chicken wings and Beef on Weck, you will find every cuisine represented here, from
                                Asian to Mexican, from Greek to fine dining, also represented some of our fine wines
                                from the wine region of&nbsp; New York. In larger than bite size portions, so you
                                can try them all, wow ! where do i start!
                            </font>
                        </b>
                    </p>
                </td>
            </tr>
            <tr>
                <td style="height: 48px"></td>
                <td style="height: 48px"></td>
                <td style="height: 48px"></td>
            </tr>
        </table>
        <table style="width: 853px">
            <tr>
                <td style="width: 1104px"></td>
                <td style="width: 607px">
                    <a href="http://www.allentownartfestival.com/">
                        <strong>
                            <span style="font-size: 18pt">
                                Allentown Art Festival
                            </span>
                        </strong>
                    </a>
                </td>
                <td></td>
            </tr>
            <tr>
                <td style="width: 1104px"></td>
                <td style="width: 607px"></td>
                <td></td>
            </tr>
            <tr>
                <td style="width: 1104px">
                    <img alt="image" height="200" src="@Url.Content("~/Content/Images/artEasel.jpg")" />
                </td>
                <td style="width: 607px">
                    <img alt="image" height="200" src="@Url.Content("~/Content/Images/artFestival.jpg")" />
                </td>
                <td>
                    <img alt="image" height="200" src="@Url.Content("~/Content/Images/artFestivalBooth.jpg")" />
                </td>
            </tr>
            </tr>
            <tr>
                <td align="center" style="width: 144px; height: 30px" valign="middle"></td>
                @* WHITESPACE HERE*@
            </tr>
            <tr>
            </tr>
        </table>
        <table style="width: 852px">
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td colspan="3">
                    <p>
                        <font size="3">
                            <b>
                                Maybe my favorite festival of all, Allentown is a beautiful Historic
                                district that embodies the charms of old Buffalo. With its Victorian houses, stained
                                glass and quaint little pubs and restaurants, among, tiny 19th century streets,
                                Allentown is the perfect setting for this festival. Artists and Artisians come from
                                miles around, south, east, west and Canada, take their places and sell their wares.
                                As always hot food and cold beer are plenty full. Adjacent to this festival is original
                                music festival, aptly titled<a href="http://musicisart.org"> Music Is Art Festival</a>,
                                created by Robby Takac bassist for Buffalos Goo Goo Dolls, this is one place where
                                Buffalo showcases some of its new and upcoming acts, come check em out!
                            </b>
                        </font>
                    </p>
                </td>
            </tr>
            <tr>
                <td style="height: 48px"></td>
                <td style="height: 48px"></td>
                <td style="height: 48px"></td>
            </tr>
        </table>
        <table style="width: 851px">
            <tr>
                <td style="width: 9px"></td>
                <td style="width: 735px">
                    <a href="http://www.juneteenthofbuffalo.com/">
                        <strong>
                            <span style="font-size: 18pt">
                                Juneteenth Festival Buffalo
                            </span>
                        </strong>
                    </a><a href="http://www.juneteenthofbuffalo.com/">
                    </a>&nbsp;&nbsp;
                </td>
                <td style="width: 8px"></td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td style="width: 8px"></td>
            </tr>
            <tr>
                <td style="width: 9px">
                    <img alt="image" height="200" src="@Url.Content("~/Content/Images/juneteenth.jpg")" />
                </td>
                <td style="width: 735px">
                    <img alt="image" src="@Url.Content("~/Content/Images/juneteenthlogo.jpg")" />
                </td>
                <td style="width: 8px">
                    <img alt="image" src="@Url.Content("~/Content/Images/juneteenthMarakas.jpg")" height="200" />
                </td>
            </tr>
        </table>
        <table style="width: 850px">
            <tr>
                <td style="width: 90px; height: 30px;"></td>
                <td style="width: 677px; height: 30px;"></td>
                <td style="height: 30px"></td>
            </tr>
            <tr>
                <td colspan="3">
                    <span style="font-family: Arial">
                        <strong>
                            Juneteenth was the oldest known observance
                            of the ending of slavery in the United States. According to historical records,
                            the celebration began on June 19, 1865, the day Major General Gordon Granger of
                            the Union Army rode into Galveston, Texas in final execution of the Emancipation
                            Proclamation.
                        </strong>
                    </span>
                    <p>
                        <b>
                            <img alt="image" align="right" height="236" src="@Url.Content("~/Content/Images/scroll.gif")" style="margin: 0px 0px 20px 20px;
                            font-family: Arial" width="181" />
                            Issued by President Abraham Lincoln on September 22, 1862, the Emancipation Proclamation
                            stated, among other things, "That on the 1st day of January, A.D., 1863, all persons
                            held as slaves within any State or designated part of a State the people whereof
                            shall they be in rebellion against the United States shall be then, thenceforward,
                            and forever free..."
                        </b>
                    </p>
                    <p>
                        <b>
                            Our Buffalo Juneteenth Festival takes place on Genesee Street home
                            to African American community. The festival is filled with Music, Entertainment
                            and History of the Black people of Buffalo. Buffalo has a rich African american
                            community and history that dates from the Underground Railroad, the <a href="http://www.nyhistory.com/mspa/index.htm">
                                Michigan Street Baptist Church
                            </a>, which dates pre- civil War, and even includes
                            the oldest still running <a href="http://www.coloredmusiciansclub.org/">
                                Colored Musicians
                                club
                            </a>in America.
                        </b>
                    </p>
                </td>
            </tr>
            <tr>
                <td style="width: 90px">
                    <img alt="image" height="200" src="@Url.Content("~/Content/Images/MusiciansClubAndBaptistChurch.jpg")" />
                </td>
                <td style="width: 677px">
                    <img alt="image" src="@Url.Content("~/Content/Images/MichiganStreetBaptist.jpg")" />
                </td>
                <td></td>
            </tr>
        </table>
        <table style="width: 850px">
            <tr>
                <td style="width: 17px; height: 34px"></td>
                <td style="height: 34px"></td>
                <td style="height: 34px"></td>
            </tr>
            <tr>
                <td style="width: 17px; height: 28px" align="center"></td>
                <td style="height: 28px" align="center">
                    <a href="http://www.dyngusdaybuffalo.com">
                        <strong>
                            <span style="font-size: 18pt">
                                Dyngus
                                Day
                            </span>
                        </strong>
                    </a><strong><span style="font-size: 18pt">&nbsp;</span></strong>
                </td>
                <td style="height: 28px" align="center"></td>
            </tr>
            <tr>
                <td style="width: 17px"></td>
                <td></td>
                <td></td>
            </tr>
        </table>
        <table style="width: 849px">
            <tr>
                <td style="height: 21px">
                    <img alt="image" height="200" src="@Url.Content("~/Content/Images/poland_eagleFlag.gif")" />
                </td>
                <td style="height: 21px">
                    <img alt="image" height="200" src="@Url.Content("~/Content/Images/paczki2.jpg")" />
                </td>
                <td style="height: 21px">
                    <img alt="image" height="200" src="@Url.Content("~/Content/Images/dyngusDay.jpg")" />
                </td>
            </tr>
            </tr>
            <tr>
                <td align="center" style="width: 144px; height: 30px" valign="middle"></td>
                @* WHITESPACE HERE*@
            </tr>
            <tr>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td colspan="3" style="height: 192px">
                    <p>
                        <font size="3">
                            <b>
                                The pride of Buffalos Polish community. Buffalo has a huge Polish
                                community, as Polish people immigrated through New York in the early days, many
                                found a home in Buffalo, N.Y. Much like their homeland, Buffalo was a northern town
                                with a hard work ethic and a blue collar backbone. The Polish immigrants fit right
                                in.&nbsp; Dyngus day is a day to celebrate their Polish heritage. In the old Polish
                                neighborhood, East Buffalo is where the immigrants got their start, with flagship
                                churchs like St. Stanislaus and Corpus Christi, Buffalo once held the title of the
                                largest polish catholic community in America.&nbsp; The Architecture of these churches
                                is beautiful as is the charm of the old Broadway Market a landmark, where you can
                                still find old world sausages, and delicious polish baked goods. The East side of
                                Buffalo is also home to the old Broadway Train Terminal, now in restoration, still
                                a art deco reminder of Buffalos' dominance in rail at one time 2nd in the country.
                            </b>
                        </font>
                    </p>
                </td>
            </tr>
        </table>
        <table style="width: 847px">
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td style="height: 28px" align="center"></td>
                <td style="height: 28px" align="center">
                    <a href="http://www.buffalogreekfestival.org/">
                        <strong>
                            <span style="font-size: 18pt">
                                Greek Festival
                            </span>
                        </strong>
                    </a><strong><span style="font-size: 18pt"> &nbsp;</span></strong>
                </td>
                <td style="height: 28px" align="center"></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tr>
            <tr>
                <td align="center" style="width: 144px; height: 30px" valign="middle"></td>
                @* WHITESPACE HERE*@
            </tr>
            <tr>
            </tr>
        </table>
        <table style="width: 847px">
            <tr>
                <td>
                    <img alt="image" height="200" src="@Url.Content("~/Content/Images/greekFlag.jpg")" />
                </td>
                <td>
                    <img alt="image" height="200" src="@Url.Content("~/Content/Images/GreekFestDance.jpg")" />
                </td>
                <td>
                    <img alt="image" height="200" src="@Url.Content("~/Content/Images/greekFestKids.jpg")" />
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td colspan="3">
                    <p>
                        <font size="3">
                            <b>
                                A very large community in Buffalo, The Greeks hold an excellent festival,
                                rooted around the old Greek Orthodox church on Delaware and West Ferry in Buffalo.
                                As evidenced in many places in Buffalo, the Greek revival of the mid 19th century
                                had a solid effect on Buffalos architecture. Just see the Theodore Roosevelt Inaugural
                                site, the Wilcox Mansion to mention one. We have many Greek restaurants, especially
                                in and around Elmwood Avenue home to 4 I can count. The Greek festival is a wonderful
                                festival of Greek food, like lamb dishes, and grilled Greek Goat cheese to delicious
                                Baklava, you will see dancing, food and history all in a Greek tradition.
                            </b>
                        </font>
                    </p>
                </td>
            </tr>
        </table>
        <table style="width: 846px">
            <tr>
                <td style="width: 12px; height: 21px"></td>
                <td style="height: 21px; width: 258px;">
                    &nbsp;
                </td>
                <td style="height: 21px; width: 2065px;"></td>
                <td style="height: 21px; width: 834px;">
                    &nbsp;
                </td>
                <td style="height: 21px; width: 834px;">
                    &nbsp;
                </td>
                <td style="height: 21px"></td>
            </tr>
            <tr>
                <td style="width: 12px; height: 21px; text-decoration: underline;">
                    &nbsp;
                </td>
                <td style="height: 21px; text-align: center; width: 258px;">
                    <a href="http://fallsstreet.com/">
                       <img src=" @Url.Content("~/Content/Images/OldFallsStreet-with-Falls_trans.bmp") " height="59" width="94"/>  </a>

                    @*<asp:Image ID="Image8" runat="server" Height="59px"
        ImageUrl="~/Images/OldFallsStreet-with-Falls_trans.bmp" Width="95px" />*@



                </td>
                <td style="height: 21px; text-align: center; width: 2065px;">
                    <strong>
                        <span style="font-size: 18pt">
                            @*<span style="font-size: large; mso-fareast-font-family: Calibri; mso-fareast-theme-font: minor-latin; mso-ansi-language: EN-US; mso-fareast-language: EN-US; mso-bidi-language: AR-SA; text-decoration: underline;"></span>*@
                            <a href="http://festivalatthefalls.com/">Niagara Falls Music &amp; Art Festival</a>
                            <span style="text-decoration: underline">&nbsp;</span>
                        </span>
                    </strong>
                </td>
                <td style="height: 21px; text-align: center; width: 834px;">
                    &nbsp;
                </td>
                <td style="height: 21px; text-align: center; width: 834px;">
                    &nbsp;
                </td>
                <td style="height: 21px">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td style="width: 12px; height: 21px"></td>
                <td style="height: 21px; text-align: center; width: 258px;">
                    &nbsp;
                </td>
                <td style="height: 21px; text-align: center; width: 2065px;">
                    <span style="font-size: 12.0pt; font-family: &quot;Times New Roman&quot;,serif; mso-fareast-font-family: Calibri; mso-fareast-theme-font: minor-latin; mso-ansi-language: EN-US; mso-fareast-language: EN-US; mso-bidi-language: AR-SA; font-weight: 700; text-align: center;">
                        <a href="http://fallsstreet.com/"
                           title="Old Falls Street, USA listinglink">
                            <span style="color:windowtext;
text-decoration:none;"><a href="http://fallsstreet.com/">Old Falls Street, Niagara Falls, NY USA</a></span>
                        </a>
                    </span>
                </td>
                <td style="height: 21px; text-align: center; width: 834px;">
                    &nbsp;
                </td>
                <td style="height: 21px; text-align: center; width: 834px;">
                    &nbsp;
                </td>
                <td style="height: 21px"></td>
            </tr>
            <tr>
                <td style="width: 12px; height: 150px"></td>
                <td style="height: 150px; width: 258px;">
                    @*<asp:Image ID="Image4" runat="server" Height="117px"
                               ImageUrl="~/Images/niagara-falls-ny-1.jpg" Width="218px" />*@
                    <img src=" @Url.Content("~/Content/Images/niagara-falls-ny-1.jpg") " Width="218"/>
                </td>
                <td style="height: 150px; width: 2065px;" align="center">
                    @*<asp:Image ID="Image5" runat="server" Height="125px"
                               ImageUrl="~/Images/Old-Falls-Street-USA-Street-Fest-with-Carts.jpg"
                               Width="310px" />*@
                    <img src=" @Url.Content("~/Content/Images/Old-Falls-Street-USA-Street-Fest-with-Carts.jpg") " height="150"; Width="218" />
                </td>
                <td style="height: 150px; width: 834px;">
                    @*<asp:Image ID="Image6" runat="server" Height="117px"
                               ImageUrl="~/Images/NiagaraFallsUSA _HardRock_Entrance.jpg" Width="230px" />*@
                    <img src=" @Url.Content("~/Content/Images/NiagaraFallsUSA _HardRock_Entrance.jpg") " height="150"; Width="300" />
                </td>
                <td style="height: 150px; width: 834px;">
                    <asp:Image ID="Image7" runat="server" />
                </td>
                <td style="height: 150px"></td>
            </tr>
            <tr>
                <td style="width: 12px; height: 21px">
                    &nbsp;
                </td>
                <td style="height: 21px; width: 258px;">
                    &nbsp;
                </td>
                <td style="height: 21px; width: 2065px;">
                    @*<span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;,serif;
@*mso-fareast-font-family:&quot;Times New Roman&quot;;mso-ansi-language:EN-US;mso-fareast-language:
EN-US;mso-bidi-language:AR-SA">&nbsp;</span>*@

                </td>
                <td style="height: 21px; width: 834px;">
                    &nbsp;
                </td>
                <td style="height: 21px; width: 834px;">
                    &nbsp;
                </td>
                <td style="height: 21px">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td style="width: 12px; height: 21px">
                    &nbsp;
                </td>
                <td style="height: 21px" align="center" colspan="3">
                    <p class="MsoNormal">
                        <strong>
                            The Niagara Falls Music &amp; Art Festival takes place on Old Falls Street in the
                            downtown district of Niagara Falls, New York. Thousands of music and arts
                            enthusiasts visit the festival to enjoy the beauty of the June weather in
                            Niagara Falls just footsteps from the State Park and beauty of the waterfalls.
                            This year&#39;s festival features free admission and approximately 100 art
                            exhibitors, food vendors, wine tastings, street entertainers and the best
                            selection of 37 regional bands.
                        </strong><o:p></o:p>
                    </p>
                    <p class="MsoNormal">
                        <o:p>
                            <strong>
                                Niagara Falls U.S.A. is just 20 minutes up the road and has many things to offer
                                visitors.
                            </strong>
                        </o:p>
                    </p>
                    <p class="MsoNormal" style="height: 8px">
                        <o:p></o:p>
                    </p>
                </td>
                <td style="height: 21px; width: 834px;">
                    &nbsp;
                </td>
                <td style="height: 21px"></td>
            </tr>
            <tr>
                <td style="width: 12px; height: 21px">
                    &nbsp;
                </td>
                <td style="height: 21px; width: 258px;">
                    &nbsp;
                </td>
                <td style="height: 21px; width: 2065px;">
                    &nbsp;
                </td>
                <td style="height: 21px; width: 834px;">
                    &nbsp;
                </td>
                <td style="height: 21px; width: 834px;">
                    &nbsp;
                </td>
                <td style="height: 21px">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td style="width: 12px; height: 21px">
                    &nbsp;
                </td>
                <td style="height: 21px; width: 258px;">
                    &nbsp;
                </td>
                <td style="height: 21px; width: 2065px;">
                    &nbsp;
                </td>
                <td style="height: 21px; width: 834px;">
                    &nbsp;
                </td>
                <td style="height: 21px; width: 834px;">
                    &nbsp;
                </td>
                <td style="height: 21px">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td style="width: 12px" align="center"></td>
                <td align="center" style="width: 258px">
                    &nbsp;
                </td>
                <td align="center" style="width: 2065px">
                    <a href="http://www.friendshipfestival.com">
                        <strong>
                            <span style="font-size: 18pt">
                                Friendship
                                Festival
                            </span>
                        </strong>
                    </a><strong><span style="font-size: 18pt">&nbsp;</span></strong>
                </td>
                <td align="center" style="width: 834px">
                    &nbsp;
                </td>
                <td align="center" style="width: 834px">
                    &nbsp;
                </td>
                <td align="center"></td>
            </tr>
            <tr>
                <td style="width: 12px"></td>
                <td style="width: 258px">
                    &nbsp;
                </td>
                <td style="width: 2065px"></td>
                <td style="width: 834px">
                    &nbsp;
                </td>
                <td style="width: 834px">
                    &nbsp;
                </td>
                <td></td>
            </tr>
        </table>
        <table style="width: 846px">
            <tr>
                <td></td>
                <td>
                    <img alt="image" src="@Url.Content("~/Content/Images/USFLAG.gif")" />
                </td>
                <td>
                    <img alt="image" src="@Url.Content("~/Content/Images/CANADAFLAG.gif")" />
                </td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td colspan="4">
                    <p>
                        <font size="3">
                            <b>
                                Always aware that we are a border town, Buffalo enjoys the advantage
                                of Canadian culture, music, art and customs. This festival, is evidence to our 200
                                year history of peace across borders. Buffalonians share and uncommon similarity
                                to our neighbors in Ontario, growing up on Canada Dry, Coffee Crisp, and Labatt
                                and Molson beers, we have a very Canadian friendly city, evidence to why, we have
                                many prominent Canadians living here. In a town where you can have lunch in Canada
                                and be back in time for a board meeting, or play a round of golf in southern Ontario
                                and still be home for dinner, in Buffalo, we enjoy the best of both worlds. This
                                4 day festival celebrates the friendship of the u.s.a. and Canada on both sides
                                of the bridge, with Music, bands and food... Celebrating both Canada Day and Independence
                                Day, you have events running on both sides... Is it any wonder our Bridge to Canada
                                is appropriately named the f="http://PeaceBridge.com">Peace Bridge!</a>
                            </b>
                        </font>
                    </p>
                </td>
            </tr>
        </table>
        <table style="width: 843px">
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td align="center"></td>
                <td align="center">
                    <a href="http://www.buffaloplace.com/aboutus/marketing/summerconcertseries.html">
                        <span style="font-size: 18pt; font-weight: 700;">Thursday At The Square</span>
                    </a>
                </td>
                <td align="center"></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
        <table style="width: 844px">
            <tr>
                <td></td>
                <td>
                    <img alt="image" src="@Url.Content("~/Content/Images/ThursdayAtTheSquare.jpg")" />
                </td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td colspan="3">
                    <p>
                        <b>
                            <font size="3">
                                A tradition that started in the 80s and originally called Thursday
                                in the Park is an after work get together at Lafayette square. It is just across
                                from city hall. Hundreds if not thousands get together after work every Thursday.&nbsp;
                                Some of the highlights were Kim Mitchell playing for over 20,000 and the record
                                breaker Pat Benatar playing for over 40,000. This is an absolutely free event, as
                                coolers and drinks are not allowed, however, beer, water, wine, and other drinks
                                are available for purchase at the concessions along with food, including pizza,
                                Italian sausage and other buffalo favorites such as Beef on Weck.
                            </font>
                        </b>
                    </p>
                    <p>
                        &nbsp;
                    </p>
                </td>
            </tr>
        </table>
        <table style="width: 844px">
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td align="center"></td>
                <td align="center">
                    <a href="http://www.buffalowing.com/">
                        <span style="font-size: 18pt">
                            Buffalo Chicken
                            Wing Festival
                        </span>
                    </a><span style="font-size: 18pt">&nbsp;</span>
                </td>
                <td align="center"></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
        <table style="width: 843px">
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <img alt="image" src="@Url.Content("~/Content/Images/cocaColaFieldOutside.jpg")" height="200" />
                </td>
                <td>
                    <img alt="image" height="200" src="@Url.Content("~/Content/Images/IvanoToscani.jpg")" />
                </td>
                <td>
                    <img alt="image" height="200" src="@Url.Content("~/Content/Images/anchorbar.jpg")" />
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tr>
            <tr>
                <td align="center" style="width: 144px; height: 30px" valign="middle"></td>
                @* WHITESPACE HERE*@
            </tr>
            <tr>
            </tr>
            <tr>
                <td colspan="3">
                    <p style="font-size: 10pt">

                        Labor day, officially declared chicken wing festival weekend as of 2,007,
                        is a day to celebrate the birthplace of the humble chicken wing. It is located in
                        Coca Cola Field, the home field of the <a href="http://web.minorleaguebaseball.com">
                            Buffalo Bisons
                        </a> baseball team. People come from miles around as far away
                        as the mid west and California to enjoy 'Wings and Beer'. Its only fair to note
                        that the chicken wing was invented by Frank and Theresa Bellisimo in 1964 at the
                        old <a href="http://www.buffalowings.com/">Anchor Bar</a> on Main Street, where
                        many, myself included insist the best are still made. A Trip to the Anchor Bar will
                        reveal the travelers locations as noted by the many license plates and of course
                        portraits of celebrities both local and many non local.

                    </p>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </body>
</html>
@*</asp:Content>*@

